modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34733
externalPort = 5173

[[ports]]
localPort = 36219
externalPort = 8081

[[ports]]
localPort = 36371
externalPort = 5000

[[ports]]
localPort = 36455
externalPort = 4200

[[ports]]
localPort = 37223
externalPort = 3000

[[ports]]
localPort = 38617
externalPort = 8000

[[ports]]
localPort = 38643
externalPort = 8008

[[ports]]
localPort = 40109
externalPort = 8099

[[ports]]
localPort = 40553
externalPort = 3001

[[ports]]
localPort = 42361
externalPort = 8080

[[ports]]
localPort = 42401
externalPort = 6800

[[ports]]
localPort = 42829
externalPort = 3003

[[ports]]
localPort = 44897
externalPort = 6000

[[ports]]
localPort = 45875
externalPort = 9000

[[ports]]
localPort = 46839
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_openai_ai_integrations:1.0.0", "agentmail:1.0.0"]

[userenv]

[userenv.shared]
INDEXNOW_API_KEY = "78eb96aa6f124ceb81a5fbaf32694bd0"
